body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 15px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  margin-bottom: 15px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 15px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  font-size: 20px;
  padding: 10px 20px;
  margin-inline: auto;
}